<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.japhethwaswa.church">

    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:name="model.dyno.ApplicationContextProvider"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme">
        <activity android:name="app.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="app.HomeActivity" android:theme="@style/HomeTheme"/>
        <activity
            android:name="app.NavActivity"
            android:launchMode="singleTop"
            android:parentActivityName="app.HomeActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.HomeActivity" />
        </activity>

        <provider
            android:authorities="com.japhethwaswa.church.db.churchprovider"
            android:name="db.ChurchProvider"
            android:exported="false"/>

    </application>

</manifest>